<div>
    <form action="/api/sessions/login" method="POST" class="form-group w-50">

        <div>
            <input placeholder=" " type="text" name="email" class="form-control" >
            <label class="placeholder" >Ingrese el email</label>
        </div>

        <div>
            <input placeholder=" " type="text" name="password" class="form-control" >
            <label class="placeholder" >Ingrese la contraseña</label>
        </div>

        <div class="button-container">
            <button>Iniciar sesión</button>
            <a href="/register">¿No tienes una cuenta? Regístrate</a><br>
        </div>

    </form>

</div>