<div>
    <form action="/api/sessions/register" method="POST" class="form-group w-50">

        <div>
            <input type="text" name="first_name" class="form-control" placeholder=" ">
            <label class="placeholder" >Ingrese el nombre</label>
        </div>

        <div>
        <input type="text" name="last_name"  class="form-control" placeholder=" ">
            <label class="placeholder" >Ingrese el apellido</label>
        </div>

        <div>
        <input type="text" name="email"      class="form-control" placeholder=" ">
            <label class="placeholder" >Ingrese el email</label>
        </div>

        <div>
            <input type="text" name="password"   class="form-control" placeholder=" "> 
            <label class="placeholder" >Ingrese la contraseña</label>
        </div>

        <div>
        <input type="text" name="age"        class="form-control" placeholder=" ">
            <label class="placeholder" >Ingrese la edad</label>
        </div>

        <div>
        <input type="text" name="cartId"     class="form-control" placeholder=" ">
            <label class="placeholder" >Ingrese el Id del Cart</label>
        </div>

        <div>
        <input type="text" name="role"       class="form-control" placeholder=" ">
            <label class="placeholder" >Ingrese su rol</label>
        </div>
           

        <div class="button-container">
            <button>Registrarme</button>
            <a href="/">Iniciar sesión</a>
        </div>


    </form>

</div>
